html {
    background-color: lightgray;
}

h1 {
    text-align: center;
}

img.octocats {
    height: 135px;
}

#box1 {
    background-color: skyblue;
    height: 160px;
    width: 550px;
    margin-left: 350px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

}

#box2 {
    background-color: pink;
    height: 160px;
    width: 550px;
    margin-left: 350px;
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

#box3 {
    background-color: white;
    height: 160px;
    width: 550px;
    margin-left: 350px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}