h1 {
    color: white;
    font-family: cursive;
    background-color: black;
}
.cloud {
    color: aqua;
}
h2 {
    font-family: cursive;
    font-weight: lighter;
    text-align: center;
    color: white;
    background-color: blueviolet;
}
h3 {
    text-align: right;
    text-decoration: underline;
    background-color: cornflowerblue;
}