
.container{
    width: 966px;
    height: 580px;
    background-color: silver;
    margin: 0px auto;
    padding-top: 1px;
    padding-bottom: 18px;
}
.top-nav {
    height: 150px;
    margin: 15px 15px 15px 15px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    margin-left: 15px;
    background-color: blue;
}
.main {
    height: 400px;
    width: 700px;
    padding-left: 13px;
    margin-top: -299px;
    margin-left: 238px;
    background-color: red;
}
.sub-content {
    height: 200px;
    width: 210px;
    margin-top: 12.7px;
    margin-right: 8px;
    display: inline-block;
    background-color: yellow;
}

#advertisement {
    height: 120px;
    width: 660px;
    margin-top: 20px;
    background-color: purple;
}

