* {
    margin: 0;
    padding: 0;
}
.side-block {
    height: 100px;
    margin-right: 1050px;
    padding-top: 510px;
    padding-right: 5px;
    background-color: white;
}
.side-block > h4 {
    position: absolute;
    top: 200px;
    left: 25px;
}
#side-text {
    margin-top: -290px;
    margin-left: 25px;
}
#side-text p {
    line-height: 2;
    font-family: sans-serif;
}
#side-text > a {
    text-decoration: none;
    color: black;
}
.hours {
    color: grey;
    font-size: x-small;
    margin-bottom: -5px;
    padding-bottom: 5px;
}
#side-text img {
    height: 170px;
}
#logo {
    height: 150px;
    margin-bottom: -160px;
    margin-left: 25px;
}
.main-img {
    height: 100px;
    margin-top: -610px;
    margin-left: 230px;
    padding-bottom: 350px;
    background-color: white;
}
.main-img > video {
    height: 550px;
}
.bottom-block {
    height: 100px;
    background-color: white;
    margin-top: 125px;
    margin-left: 230px;
    margin-bottom: 10px;
    padding-bottom: 150px;
    color: white;
}
.block1 {
    height: 100px;
    margin-right: 440px;
    padding-bottom: 150px;
    background-color: #6495ed;
    border-radius: 10px 10px 10px 10px
}
.block1 > h1 {
    text-align: center;
    padding-top: 10px;
    line-height: 2;
}
.block1 > h2 {
    margin-top: 5px;
    padding: 10px;
}
.block1-text1 {
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.block1-text1 > div {
    height: 30px;
    width: 30px;
    margin-left: -43px;
    margin-right: 15px;
    margin-top: 3px;
    background-color: white;
    border-radius: 50%;
    color: cornflowerblue;
}
.block1-text1 p {
    text-align: center;
}
.block1-text2 {
margin-left: 80px;
display: flex;
}
.block1-text2 > div {
    height: 30px;
    width: 30px;
    margin-left: -40px;
    margin-right: 15px;
    margin-top: 3px;
    background-color: white;
    border-radius: 50%;
    color: cornflowerblue;
}
.block1-text2 p {
    text-align: center;
}
.block1-text3 {
    margin-left: 80px;
    display: flex;
}
.block1-text3 > div{
    height: 30px;
    width: 30px;
    margin-right: 15px;
    margin-top: 3px;
    background-color: white;
    border-radius: 50%;
    color: cornflowerblue;
}
.block1-text3 p {
    text-align: center;
}
.block2 {
    height: 100px;
    margin-top: -250px;
    margin-left: 610px;
    margin-right: 67px;
    padding-bottom: 150px;
    border-radius: 10px 10px 10px 10px;
    background-color: red;
    display: flex;
}
.block2 > h1 {
    padding-top: 15px;
    margin-left: 10px;
}
.block2 > img {
    height: 35px;
    padding-top: 15px;
    padding-left: 120px;
}